{% extends "hello/base.html " %}
{% block about %}
<div class="container mt-5">
    <h3>Our website is created for to satisfy the customer need</h3>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae hic atque quas laboriosam cum, quod sint mollitia ratione minus dicta sapiente odit voluptates inventore nihil repellendus asperiores repellat corrupti laudantium animi voluptatum esse. Repellendus eos error dolorum autem, tenetur iure aspernatur soluta! Illo voluptatibus culpa deleniti provident, expedita aliquam quisquam incidunt maiores. Ducimus, harum!</h4>
</div>
    {% endblock about %}