<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div>
           User name:<input type="text",name='name'>
        </div>
        <div>
            Password:<input type="text",name='password'>
        </div>
        <div>
            Re-type Password:<input type="text",name='re-type'>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>